<div class="container">
  <!-- Content here -->
  <h1 id="pageTitle">Eat a Burger</h1>
  <div class="row align-items-center">


    <div class="col">

      <div class="card" id="burgerList">
        <div class="card-body">
          <h2 class="card-title">Burgers to be eaten</h2>

          <ul>
            {{#each burgers}}
            {{#unless devoured}}

            <li id="allBurgerList">{{id}} - {{burger}}</li>
            {{/unless}}

            {{/each}}
          </ul>
        </div>
      </div>
    </div>
    <div class="col">

      <div class="card" id="burgerDashboard">
        <div class="card-body">
          <h2 class="card-title">Add a burger</h2>



          <form id="createburger" class="form-control">
            <textarea type="text" name="burger" id="burgerName"></textarea>
            <button type="submit" class="btn btn-success">Add burger!</button>
          </form>
          
          <h2 class="card-subtitle">Eat a burger</h2>
          <br>
          <form id="updateburger" class="button-size">
            <select name="id" id="devouredBurger">
              {{#each burgers}}
              {{#unless devoured}}
              <option value={{this.id}}>{{this.burger}}</option>
              {{/unless}}
              {{/each}}
            </select>
            <button type="submit" class="btn btn-danger" id="devoured">Devour a burger!</button>
          </form>

        </div>
      </div>
    </div>

    <div class="col">
      <div class="card" id="eatenBurgers">
        <div class="card-body">
          <h2 class="card-title">Burgers that have been eaten!</h2>

          <ul>
            {{#each burgers}}
            {{#if devoured}}

            <li id="allBurgerList"> {{id}} - {{burger}} </li>
            {{/if}}
            {{/each}}
          </ul>

        </div>
      </div>
    </div>






    <script type="text/javascript">


    </script>
  </div>